.panel-right {
    width: 20vw;
    margin: 25px 15px;
    padding: 20px;
    border: 3px dotted #353b48;
    border-radius: 5px;
    font-size: 25px;
    color: #353b48;
    font-weight: bold;
    text-align: left;
}

.panel-right .subtitle-right {
    font-size: 2rem;
    color: #f39c12;
    text-align: center;
}

.panel-right .choice {
    color: #f39c12;
}