.panel-left {
    width: 20vw;
    margin: 25px 15px;
    padding: 20px;
    border: 3px dotted #353b48;
    border-radius: 5px;
    font-size: 25px;
    color: #353b48;
    font-weight: 100;
    text-align: left;
}

.panel-left .subtitle {
    font-size: 2rem;
    color: #f39c12;
    text-align: center;
    font-weight: 400;
}

.panel-left .win {
    color: green;
}

.panel-left .loss {
    color: #e74c3c;

}

.panel-left .draw,
.pnale-left .choice {
    color: #f39c12;
}

.panel-left p {
    text-transform: capitalize;
}

.panel-left p span {
    font-weight: 400;
}