.btn-start {
    width: 10vw;
    height: 5vh;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #D6D6D6;
    background-color: #353b48;
    border: 2px solid #353b48;
    border-radius: 5px;
    transition: all 0.3s linear;
    animation-iteration-count: infinite;
    animation-duration: 1.5s;
    animation-name: shrink;
}

.btn-start:hover {
    color: #353b48;
    background-color: inherit;
    animation: none;
}

@keyframes shrink {
    0% {
        transform: scaleY(1);
    }

    49% {
        transform: scale(0.97, 0.97);
    }

    100% {
        transform: scaleY(1);
    }

}